@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'IBM VGA9';
    src: url(./assets/fonts/Web437_IBM_VGA_8x16.woff);
    src: url(./assets/fonts/Web437_IBM_VGA_8x16.woff) format('woff'),
         url(./assets/fonts/Px437_IBM_VGA_8x16.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

@theme {
  --color-berry-600: #942c4b;
  --color-berry-700: #621748;
  --color-berry-800: #3d003d;
}

* {
	box-sizing: border-box;
  font-family: "VT323", "IBM VGA9", monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
  image-rendering: pixelated;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 9999;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.scanlines {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 3px;

  background: rgba(0, 0, 0, 0.15);
  box-shadow: 
    0 0 6px rgba(0, 0, 0, 0.4);

  animation: scan 10s linear infinite;
  pointer-events: none;
  z-index: 9999;
}

.border-groove {
  border-style: groove;
}

@utility border-elevated {
  @apply border-t-zinc-800 border-l-zinc-800 border-r-zinc-950 border-b-zinc-950 shadow-[inset_2px_2px_0px_oklch(37%_0.013_285.805),inset_-2px_-2px_0px_oklch(21%_0.006_285.885)]
}

@utility border-button {
  @apply border-t-zinc-700 border-l-zinc-700 border-r-zinc-950 border-b-zinc-950 shadow-[inset_-2px_-2px_0px_oklch(21%_0.006_285.885_/0.7)] active:border-none active:shadow-[inset_2px_2px_0px_oklch(14.1%_0.005_285.823),inset_-2px_-2px_0px_oklch(37%_0.013_285.805)]
}

@utility border-sunk {
  @apply border-b-zinc-700 border-r-zinc-700 border-l-zinc-950 border-t-zinc-950
}

@keyframes scan {
  0% {
    top: -10%;
  }
  100% {
    top: 210%;
  }
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.10626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.10626;
  }
  30% {
  opacity: 0.18128;
  }
  35% {
  opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
