@import url(https://db.onlinewebfonts.com/c/0bae535590ffdc6ffb2cfa45b8fb2ae3?family=PxPlus+IBM+VGA8);
@import "tailwindcss";

* {
	box-sizing: border-box;
  font-family: "PxPlus IBM VGA8";
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
  image-rendering: pixelated;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.scanlines {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 3px;

  background: rgba(0, 0, 0, 0.15);
  box-shadow: 
    0 0 6px rgba(0, 0, 0, 0.4);

  animation: scan 10s linear infinite;
  pointer-events: none;
  z-index: 9999;
}

.border-groove {
  border-style: groove;
}

@keyframes scan {
  0% {
    top: -10%;
  }
  100% {
    top: 210%;
  }
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.10626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.10626;
  }
  30% {
  opacity: 0.18128;
  }
  35% {
  opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
